@font-face {
    font-family: "PressStart2P-Regular";
    src: url("./assets/PressStart2P-Regular.ttf");
}

#game-scan-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/scanlines.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PressStart2P-Regular";
}

#game-score {
    position: absolute;
    font-size: 1.25rem;
    top: 1.25rem;
    left: 1.25rem;
    z-index: 1000;
    color: #264652
}

#game-board {
    width: min-content;
    position: relative;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.maze-row {
    display: flex;
}

.maze-cell {
    width: 40px;
    height: 40px;
    background-color: #e9c46a;
}

.fruit {
    background-color: #e76f51;
}

.snake {
    background-color: #2a9d8f;
}