@font-face {
    font-family: "PressStart2P-Regular";
    src: url("./assets/PressStart2P-Regular.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PressStart2P-Regular";
}

#game-score {
    position: absolute;
    font-size: 1.25rem;
    top: 1.25rem;
    left: 1.25rem;
}

#game-board {
    position: relative;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.maze-container {
    width: min-content;
}

.maze-row {
    display: flex;
}

.maze-cell {
    width: 40px;
    height: 40px;
    background-color: yellow;
}

.fruit {
    background-color: red;
}

.snake {
    background-color: blue;
}